@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.container {
  width: 100vw;
  min-width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 98%);
  /* border: 2px solid red; */
}

.content {
  width: 90%;
  height: 100%;
  /* border: 2px solid blue; */
}

/* Heading section start */
.heading {
  height: 100vh;
  width: 100%;
  background-image: url(./images/hero.png);
  background-position: center;
  background-size: cover;
  opacity: 90%;
}

ul {
  list-style: none;
  padding: 0;
  display: flex;
}

li a {
  text-decoration: none;
  color: white;
  /* display: inline-block; */
  /*background :red;*/
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  color: white;
  padding: 20px;
}

ul a {
  padding: 20px;
}

.right-nav button {
  color: white;
  background-color: hsl(202, 87%, 54%);
  border: none;
  height: 40px;
  width: 180px;
  border-radius: 5px;
  font-weight: 500;
}

.brand {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 50px;
}

.desc h1 {
  color: white;
  font-size: 50px;
  font-weight: 800;
  padding-bottom: 30px;
}

.desc p {
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}

.get-quote,
.more {
  border-radius: 20px;
  text-align: center;
  color: white;
  border: none;
  font-weight: 500;
}

.get-quote {
  height: 40px;
  width: 200px;
  background-color: hsl(202, 87%, 54%);
}

.more {
  background: transparent;
  border: 1px solid white;
  height: 40px;
  width: 150px;
}

/* Heading section end */

/* Section 1 start */
.sub-section-1 {
  margin-bottom: 45px;
  padding: 20px;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  gap: 40px;
}

ion-icon {
  font-size: 50px;
}

.box-1 ion-icon,
.box-2 ion-icon {
  font-size: 50px;
  color: hsl(202, 87%, 54%);
}

.box-3 ion-icon {
  font-size: 50px;
  color: white;
}

.box-1,
.box-2 {
  background-color: white;
  z-index: 100;
}

.box-3 {
  background-color: hsl(202, 87%, 54%);
  z-index: 100;
}

.sub-section-1 p {
  font-weight: 300;
  font-size: smaller;
}

.sub-section-1 h3 {
  font-weight: 500;
}

ion-icon,
.box-1 h3,
.box-1 p {
  padding: 5px 20px;
}

ion-icon,
.box-2 h3,
.box-2 p {
  padding: 5px 20px;
}

ion-icon,
.box-3 h3,
.box-3 p {
  padding: 5px 20px;
  color: white;
}

.box-1,
.box-2,
.box-3 {
  margin-top: -95px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Section 1 end */

/* Section 2 start */

.section-2 {
  background-color: white;
  text-align: center;
  padding: 80px;
}

.sub-section-2 p {
  font-weight: 500;
  font-size: smaller;
  padding: 10px;
}

.sub-section-2 h3 {
  font-weight: 500;
}

.sub-section-2 ion-icon {
  color: hsl(202, 87%, 54%);
  padding: 10px;
}

/* Section 2 start */

/* Industry section start */
.industry,
.pricing {
  text-align: center;
}

.industry p,
.pricing p {
  font-weight: 500;
  padding: 20px;
}

.industry-section {
  display: flex;
}

.ratings ion-icon {
  color: #f3cd03;
  font-size: 20px;
  padding: 20px 2px;
}

.industry-sub-section {
  border-radius: 5%;
  border: 2px solid hsl(0, 6%, 87%);
  background-color: white;
  text-align: center;
}

.industry-sub-section p {
  font-weight: 500;
  padding: 20px;
}

.industry-sub-section img {
  height: 200px;
  padding: 20px;
}

/* industry section end */

/* tecnologies section start */
.technologies {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.technologies img {
  height: 10%;
  width: 10%;
  padding: 20px;
}

/* tecnologies section end */

/* subsribe section start */
.subscribe-section {
  padding: 50px 10px;
}

.subscribe {
  background: rgb(66, 56, 137);
  background: linear-gradient(90deg,
      rgba(66, 56, 137, 1) 0%,
      rgba(20, 67, 136, 1) 0%,
      rgba(5, 70, 136, 1) 1%,
      rgba(107, 46, 137, 1) 50%,
      rgba(207, 22, 137, 1) 74%,
      rgba(207, 22, 137, 1) 86%);
  padding: 20px 40px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group {
  background-color: white;
  display: flex;
  gap: 0;
  height: 40px;
  border-radius: 4px;
  overflow: hidden;
}

.input-group input {
  border: none;
  outline: none;
  padding: 0px 10px;
  height: 100%;
}

.input-group button {
  border: none;
  height: 100%;
  padding: 10px;
  background-color: hsl(202, 87%, 54%);
  color: white;
}

/* subsribe section end */

/* Pricing section start */
.pricing-section {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
}

.package-sections {
  display: flex;
  justify-content: center;
  gap: 1px;
  padding-bottom: 100px;
}

.package {
  border: 1px solid hsl(202, 87%, 54%);
  border-radius: 10px;
  min-height: 567px;
}

.package h1 {
  font-size: 20px;
}

.package h1,
.package p {
  padding: 10px;
  display: flex;
  justify-content: center;
}
 .package-1 p, .package-2 p{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.price {
  display: flex;
  justify-content: center;
  color: hsl(202, 87%, 54%);
}

.price h1 {
  font-size: 35px;
  font-weight: 800;
  padding-left: 5px;
}

.package-1,
.package-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.package-1 ion-icon {
  font-size: 30px;
  padding: 5px;
  color: hsl(148, 62%, 46%);
}

.package-2 ion-icon {
  color: hsl(0, 0%, 74%);
  padding: 5px;
  font-size: 30px;
}

.standard {
  background-color: hsl(228, 28%, 20%);
  margin-top: -45px;
  padding-top: 45px;
}

.try-it {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.package button {
  background-color: hsl(202, 87%, 54%);
  border: none;
  color: white;
  height: 40px;
  border-radius: 5px;
  width: 80%;
}

/* Pricing section end */

/* Branches section start */
.branches {
  background: hsl(228, 28%, 20%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  gap: 50px;
  height: 98vh;
}

.branches-sub {
  min-width: 600px;
  padding-left: 100px;
}

.branches-sub,
.branch-img {
  padding-top: 100px;
}

.branch-img img {
  height: 70%;
  width: 50%;
}

.branches-sub h2 {
  color: white;
  font-size: 40px;
}

.branches-sub p {
  color: hsl(0, 0%, 74%);
}

/* Branches section end */

/* Book appointment section start */
.form-section {
  min-height: 60vh;
  background: rgb(247, 247, 247);
  display: flex;
  justify-content: center;
}


.form-section-container {
  background: white;
  margin-top: -30vh;
  min-width: 690px;
  width: 60%;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
}

.form-image-container,
.form-section-wrapper {
  padding: 20px;
  background: white;
  height: 100%;
}


.form-image-container {
  background-image: url(images/contact.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.form-image-container {
  width: 37%;
}

.form-section-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.form-section-wrapper>h1 {
  margin-top: 20px;
}



.form-input-holder {
  padding: 5px;
  /*background: yellow;*/
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input-holder>label {
  font-size: 20px;
  color: rgb(37, 42, 65);
  font-weight: 600;
}

.text-input input {
  background: rgb(247, 247, 247);
  border: 1px solid rgb(27, 27, 27, 0.3);
  border-radius: 8px;
  width: 100%;
  height: 3rem;
}

.text-input input::placeholder {
  padding: 20px;
  font-size: 20px;
  color: rgb(27, 27, 27, 0.5);
  font-weight: 500;
}

.form-input-holder>select {
  background: rgb(247, 247, 247);
  border: 1px solid rgb(27, 27, 27, 0.3);
  border-radius: 8px;
  height: 4rem;
  width: 100%;
}

.form-input-holder>select {
  padding: 20px;
  font-size: 20px;
  color: rgb(27, 27, 27, 0.5);
  font-weight: 500;
}


input[type="text"] {
  font-weight: 500;
}

.form-input-holder>button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
  border: none;
  background: rgb(35, 164, 237);
  border-radius: 8px;
  color: white;
  font-weight: 600;
  font-size: 18px;
  height: 20px;
}



/* Book appointment section end */


/* Section 3 start */
.section-3 {
  display: flex;
  justify-content: space-between;
  padding: 85px;
}

.section-3 button {
  outline: none;
  background-color: hsl(202, 87%, 54%);
  border-radius: 5px;
  height: 40px;
  width: 130px;
  border: none;
  color: white;

}

/* Section 3 end */


/* Section 4 start */
.section-4 {
  background-color: white;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  /* gap: 20px; */
}

.sub-section-4 ion-icon {
  color: hsl(202, 87%, 54%);
  padding-left: 10px;
  font-size: 25px;
}

.sub-section-4 p {
  display: flex;
  align-items: center;
  padding: 5px;

}

.sub-section-4 h2 {
  padding-bottom: 10px;

}

/* Section 4 end */

/* footer section start */
.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}

.footer-icons {
  padding-right: 50px;
}

.footer-icons ion-icon {
  color: hsl(202, 87%, 54%);
  font-size: 25px;
  padding: 5px;

}

/* footer section end */
/* Tablet media query */
@media screen and (min-width: 768px) and (max-width:1023px) {
  
  .navbar{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .section-4 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .sub-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .branches{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .branch-img img{
    width: 90%;
  }
  .form-section{
    justify-content: center;
  }
  .form-section-container{
    margin-top: 0;
  }

}
/* Smartphone media query */
@media screen and (min-width: 375px) and (max-width:767px) {
  
  .content {
    min-width: 375px;
    display: flex;
    flex-direction: column;
  }

  .sub-section-1, .section-1 {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .heading{
    height: fit-content;
  }

  .box-1,
  .box-2,
  .box-3 {
    margin-top: 0;
  }

  .technologies {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .technologies img {
    height: 60%;
    width: 40%;
  }

  .pricing-cards-container {
    display: flex;
  }

  .navbar {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .navbar p{
    font-size: 30px;
  }

  ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    font-size: 40px;
  }

  /* .right-nav button{
					padding: 20px;
				} */
  .desc {
    padding-bottom: 150px;
  }

  .form-section-container{
    flex-direction: column;
    align-items: center;
  }
  .form-image-container{
    min-height: 600px;
    background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  }

  .package-sections {
    flex-direction: column;
    gap: 30px;
  }

  .standard {
    margin: 0;
  }
.package{
  align-items: center;
  justify-content: center;
}
  .package-1,
  .package-2 {
    align-items: center;
    justify-content: center;
    align-items: center;

  }
  .package-1 p, .package-2 p{
    display: flex;
    justify-content: center;
    align-items: center;
  }
 

  .section-3 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .section-4 {
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .sub-section-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .subscribe {
    flex-direction: column;
    gap: 30px;
  }

  .pricing {
    align-items: center;
    justify-content: center;
  }

  .footer {
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 30px;
  }
}

